<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="~/Scripts/Style.css" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
	<script src="~/MyJava.js"></script>
	<link href="~/PingStyle.min.css" rel="stylesheet" />
</head>
<body>
	<div class="menu" align="center">
		<a asp-controller="Home" asp-action="Index">Home</a> -
		<a asp-controller="Home" asp-action="RecentGames">Recent Games</a> -
		<a asp-controller="Home" asp-action="AddMatch">Add Match</a>
		<a asp-controller="Home" asp-action="AddPlayer">Add Player</a>
	</div>
	<div class="cont">
		@RenderBody()
	</div>
</body>
</html>
