<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />*@
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="~/MyJava.js"></script>
	<link href="~/PingStyle.min.css" rel="stylesheet" />
	<link href="~/NavBarFix.css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				
			</div>
			<table width="100%">
				<tr><td><img src="~/images/logo_small.png" width="50px" style="padding:2px" class="extra" /></td>
					<td width="100%">
			<ul class="nav navbar-nav">
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-controller="Home" asp-action="RecentGames">Recent Games</a></li>
				<li><a asp-controller="Home" asp-action="AddMatch">Add Match</a></li>
				<li><a asp-controller="Home" asp-action="AddPlayer">Add Player</a></li>
			</ul>
					</td>
					<td class="mobOnly" style="display:none">
						<img src="~/images/logo_small.png" width="150px" style="padding:2px"/>
					</td>
				</tr>
			</table>
		</div>
	</nav>
	<div class="cont">
		@RenderBody()
	</div>
</body>
</html>
